# python
__pycache__/
*.py[cod]
*.pyd
*.so
*.egg-info/
dist/
build/
.venv/
venv/

# pytest
.pytest_cache/
.coverage
htmlcov/

# editors
.vscode/
.idea/

# benchmarks outputs
benchmarks/outputs/*
!benchmarks/outputs/.gitkeep